.canvas {
  height: 600px;
  width: 600px;
  position: relative;
  background-color: gray;
}

.shape {
  position: absolute;
}

.rectangle {
  background-color: red;
}
.square {
  background-color: green;
}
.circle {
  background-color: purple;
  border-radius: 50%;
}
.triangle {
  background-color: transparent;
  height: 0px;
  width: 0px;
}

#rectLength {
  background-color: #f10c0c;
}
#rectWidth {
  background-color: blue;
}
#squareSideLength {
  background-color: rgb(8, 236, 38);
}
#circleRadius {
  background-color: rgb(236, 13, 207);
}
#triangleHeight {
  background-color: rgb(177, 238, 10);
}
